@model GyIMS.Models.MenuTitle
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>系统菜单标题新增</title>
</head>

<body>
    <div style="margin:20px 0;">

    </div>

    <div class="easyui-panel" title="系统菜单标题新增" style="width:100%;height:100%">
        <div>
            <form id="menutitlecreate" method="post" style="width:100%;height:100%">
                <table style="width:100%;height:100%" cellpadding="10" cellspacing="50">
                    <tr>
                        <th width="20%"></th>
                        <th width="30%"></th>
                        <th width="20%"></th>
                        <th width="30%"></th>
                    </tr>
                    <tr>
                        <td align="center">菜单标题编号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="ID" id="ID"
                                   data-options="required:true" readonly="readonly" style="width:300px" />
                        </td>
                        <td align="center">菜单标题名称:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="TitleName" id="TitleName"
                                   data-options="required:true" style="width:300px" />
                        </td>

                    </tr>
                    <tr>
                        <td align="center">序号:</td>
                        <td>
                            <input class="easyui-textbox" type="text" name="SN" id="SN" style="width:300px" />
                        </td>
                        <td align="center">状态:</td>
                        <td>
                            <select class="easyui-combobox" name="Status" id="Status"  data-options="required:true" style="width:300px" />
                        </td>
                    </tr>

                    <tr>
                        <td align="center">菜单等级:</td>
                        <td>
                            <select class="easyui-combobox" name="Rank" id="Rank" data-options="required:true" style="width:300px" />

                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px;margin-top:50px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
                <a href="/MenuTitle/Index" class="easyui-linkbutton">返回</a>
            </div>
        </div>
    </div>

    @*Js脚本*@
    <script type="text/javascript">
        var formid = "#menutitlecreate";

        $(function () {
            DataJson.FormId = formid;
            DataJson.ID = '@Model.ID';
            GetModelValue(DataJson);

            StatusJson.ID = "#Rank";
            StatusJson.TableName = "Menus";
            StatusJson.StatusDesc = "MenuRank";
            GetStatusType(StatusJson);

            StatusJson.ID = "#Status";
            StatusJson.TableName = "ALL";
            StatusJson.StatusDesc = "STATUS";
            GetStatusType(StatusJson);
        });

    //新增提交
     function submitForm() {
         DataJson.FormId = formid;
         DataJson.Url = '/MenuTitle/CreateByForm/';
         DataJson.DataType = 'json';
         DataJson.ID = $('#ID').val();
         DataJson.TitleName = $('#TitleName').val();
         DataJson.SN = $('#SN').val();
         DataJson.Status = $('#Status').val();
         DataJson.Rank = $('#Rank').val();
         DataJson.Href = "@Url.Action("Index", "MenuTitle")";
         SubmitModelValue(DataJson);
    }





    </script>
</body>
</html>
