@model IEnumerable<GyIMS.Models.Maintenance>


@{
    ViewBag.Title = "运维单信息";
}

@*界面主体*@
<div>

    <div id="dg-search" margin="0,30,0,30">
        <label for="Name">运维单号：</label>
        <input id="Name" class="easyui-validatebox" data-options="width:200" />
    </div>

    <table id="dg"></table>

    <div id="dg-button">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="Reload()">刷新</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-redo' " onclick="Accept()">接单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-back' " onclick="Return()">退回</a>
    </div>

</div>

@*脚本*@
<script>

    $(function () {
        $("#dg").datagrid({
            title: '运维申请单信息列表',
            url: '/Maintenances/GetMaintenanceApplyList',
            queryParams: "",
            columns: [[
                 { field: 'ID', title: '运维单号', width: 150, align: 'center' },
                 { field: 'Applier', title: '申请人', width: 150, align: 'center' }, 
                 { field: 'Region', title: '区域（申请人所在）', width: 150, align: 'center',formatter: getstatusnobyid  },
                 { field: 'Type', title: '问题类型', width: 100, align: 'center',formatter: getstatusnobyid  },
                 { field: 'Name', title: '问题名称', width: 150, align: 'center' },
                 { field: 'FileName', title: '上传文件名称', width: 150, align: 'center' },
                 { field: 'Description', title: '问题描述', width: 150, align: 'center' },
                 { field: 'MaintenanceStatus', title: '运维状态', width: 150, align: 'center',formatter: getstatusnobyid  },
                 { field: 'StatusName', title: '状态', width: 60, align: 'center' },
                 { field: 'CreateDate', title: '创建时间', width: 100, formatter: getdate, align: 'center' },
                 { field: 'CreatePerson', title: '创建人', width: 100, align: 'center' },
                 {field: 'UpdateDate', title: '修改时间', width: 100, formatter: getdate, align: 'center'},
                 { field: 'UpdatePerson', title: '修改人', width: 100, align: 'center' },
                 { field: 'Summary', title: '备注', width: 100, align: 'center' }
            ]],
            toolbar: '#dg-button',
            singleSelect: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            method: 'get'
        });
    })

    //刷新
    function Reload() {
        $('#Name').val("");
        InitGrid("");
    }

    var GetTableName = "Maintenances";
    var dg = $('#dg');
    var Datajson = new Object();
    //接单
    function Accept() {
        var row = dg.datagrid('getSelected');
        if (row != null) {

            if (confirm("你确定要接收该运维请单信息吗？")) {

                StatusJson.TableName = "Maintenances";
                StatusJson.StatusDesc = "MTStatus";
                StatusJson.StatusNo = "已接单";
                GetTabStatusID(StatusJson);

                Datajson.ID = row.ID;
                Datajson.MaintenanceStatus = GetStausID;
                $.ajax({
                    url: '/Maintenances/AcceptByAjax',//地址
                    dataType: 'json',//返回数据类型
                    type: 'POST',//类型
                    data: Datajson ,
                    //请求成功
                    success: function () {
                        alert("接单成功！");
                        window.location.href = "/Maintenances/ApplyIndex/";
                    }
                })

            } return;
        }
       alert("需要先选择要接收的数据！")
    }

    //退回
    function Return() {
        var row = dg.datagrid('getSelected');
        if (row != null) {

            if (confirm("你确定要退回该运维请单信息吗？")) {

                StatusJson.TableName = "Maintenances";
                StatusJson.StatusDesc = "MTStatus";
                StatusJson.StatusNo = "已退回";
                GetTabStatusID(StatusJson);

                Datajson.ID = row.ID;
                Datajson.MaintenanceStatus = GetStausID;
                $.ajax({
                    url: '/Maintenances/ReturnByAjax',//地址
                    dataType: 'json',//返回数据类型
                    type: 'POST',//类型
                    data: Datajson ,
                    //请求成功
                    success: function () {
                        alert("退回成功！");
                        window.location.href = "/Maintenances/ApplyIndex/";
                    }
                })

            } return;
        }
       alert("需要先选择要退回的数据！")
    }

    //查询
    function Search() {
        //得到用户输入的参数，取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
        //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
        var queryData = {
            Name: $("#Name").val()
        }
        //将值传递给
        InitGrid(queryData);
        return false;
    }

    //初始化查询数据
    function InitGrid(queryData) {
        $("#dg").datagrid({
            title: '运维生清单信息列表',
            url: '/Maintenances/GetMaintenanceApplyList',
            queryParams: queryData,
            columns: [[
                  { field: 'ID', title: '运维单号', width: 150, align: 'center' },
                 { field: 'Applier', title: '申请人', width: 150, align: 'center' }, 
                 { field: 'Region', title: '区域（申请人所在）', width: 150, align: 'center',formatter: getstatusnobyid  },
                 { field: 'Type', title: '问题类型', width: 100, align: 'center',formatter: getstatusnobyid  },
                 { field: 'Name', title: '问题名称', width: 150, align: 'center' },
                 { field: 'FileName', title: '上传文件名称', width: 150, align: 'center' },
                 { field: 'Description', title: '问题描述', width: 150, align: 'center' },
                 { field: 'MaintenanceStatus', title: '运维状态', width: 150, align: 'center',formatter: getstatusnobyid  },
                 { field: 'StatusName', title: '状态', width: 60, align: 'center' },
                 { field: 'CreateDate', title: '创建时间', width: 100, formatter: getdate, align: 'center' },
                 { field: 'CreatePerson', title: '创建人', width: 100, align: 'center' },
                 {field: 'UpdateDate', title: '修改时间', width: 100, formatter: getdate, align: 'center'},
                 { field: 'UpdatePerson', title: '修改人', width: 100, align: 'center' },
                 { field: 'Summary', title: '备注', width: 100, align: 'center' }
            ]],
            toolbar: '#dg-button',
            singleSelect: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            method: 'get'
        });
    }

    
</script>




