@model IEnumerable<GyIMS.Models.Maintenance>


@{
    ViewBag.Title = "运维单信息";
}

@*界面主体*@
<div>

    <div id="dg-search" margin="0,30,0,30">
        <label for="Name">运维单号：</label>
        <input id="Name" class="easyui-validatebox" data-options="width:200" />
    </div>

    <table id="dg"></table>

    <div id="dg-button">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="Reload()">刷新</a>
        <a href="/Maintenances/Create" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit' " onclick="Edit()">修改</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-man' " onclick="Apply()">申请</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel' " onclick="Cancel()">作废</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="Delete()">删除</a>
        @*<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-blank'" onclick="Export()">导出</a>*@
    </div>

</div>

@*脚本*@
<script>

    $(function () {
        $("#dg").datagrid({
            title: '运维申请单信息列表',
            url: '/Maintenances/GetMaintenanceList',
            queryParams: "",
            columns: [[
                 { field: 'ID', title: '运维单号', width: 150, align: 'center' },
                 { field: 'Applier', title: '申请人', width: 150, align: 'center' }, 
                 { field: 'Region', title: '区域（申请人所在）', width: 150, align: 'center',formatter: getstatusnobyid },
                 { field: 'Type', title: '问题类型', width: 100, align: 'center', formatter: getstatusnobyid },
                 { field: 'Name', title: '问题名称', width: 150, align: 'center' },
                 {
                    field: 'FileName', title: '上传附件名称', width: 150, formatter: function (value, row, index) {
                        if (value) {
                            var html = "<a target='_blank' >" + value + "</a>";
                            return html;
                        }
                    }, align: 'center'
                 },
                 { field: 'Description', title: '问题描述', width: 150, align: 'center' },
                 { field: 'MaintenanceStatus', title: '运维状态', width: 150, align: 'center',formatter: getstatusnobyid   },
                 { field: 'StatusName', title: '状态', width: 60, align: 'center' },
                 { field: 'CreateDate', title: '创建时间', width: 150, formatter: gettime, align: 'center' },
                 { field: 'CreatePerson', title: '创建人', width: 100, align: 'center' },
                 { field: 'UpdateDate', title: '修改时间', width: 100, formatter: getdate, align: 'center' },
                 { field: 'UpdatePerson', title: '修改人', width: 100, align: 'center' },
                 { field: 'Summary', title: '备注', width: 100, align: 'center' }
            ]],
            toolbar: '#dg-button',
            singleSelect: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            method: 'get',
            onClickRow: function (rowIndex, rowData) {
                openNewWindow("@Url.Action("Details", "Maintenances", new { area = "" })/" + rowData.ID, "newwindow",800,500);
            }
        });
    })

    //刷新
    function Reload() {
        $('#Name').val("");
        InitGrid("");
    }

    var GetTableName = "Maintenances";
    var dg = $('#dg');
    var Datajson = new Object();
    //修改
    function Edit() {
        var row = $('#dg').datagrid('getSelected');
        if (row != null) {

            window.location.href = "/Maintenances/Edit/" + row.ID;


        }
        else {
            alert("没有操作权限！请先选择要编辑的数据")
        }
    };

    //删除
    function Delete() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            alert("需要先选择要删除的数据！")
        }
        else {
            if (confirm("你确定要删除该运维单信息吗？")) {
                $.ajax({
                    url: '/Maintenances/DeleteByAjax',//地址
                    dataType: 'text',//返回数据类型
                    type: 'POST',//类型
                    data: { id: row.ID },
                    //请求成功
                    success: function () {
                        alert("删除数据成功！");
                        window.location.href = "/Maintenances/Index/";
                    }
                })
            }

        }
    }

    //申请
    function Apply() {
        var row = dg.datagrid('getSelected');
        if (row != null) {
                if (confirm("你确定要申请该运维请单信息吗？")) {

                    StatusJson.TableName = "Maintenances";
                    StatusJson.StatusDesc = "MTStatus";
                    StatusJson.StatusNo = "已申请";
                    GetTabStatusID(StatusJson);

                    Datajson.ID = row.ID;
                    Datajson.MaintenanceStatus = GetStausID;
                    $.ajax({
                        url: '/Maintenances/ApplyByAjax',//地址
                        dataType: 'json',//返回数据类型
                        type: 'POST',//类型
                        data: Datajson,
                        //请求成功
                        success: function () {
                            alert("申请数据成功！");
                            window.location.href = "/Maintenances/Index/";
                        }
                    })

                }
                return;
            }
       alert("需要先选择要申请的数据！")
    }

    //作废
    function Cancel() {
        var row = dg.datagrid('getSelected');
        if (row != null) {

            if (confirm("你确定要作废该运维请单信息吗？")) {

                StatusJson.TableName = "Maintenances";
                StatusJson.StatusDesc = "MTStatus";
                StatusJson.StatusNo = "已作废";
                GetTabStatusID(StatusJson);

                Datajson.ID = row.ID;
                Datajson.MaintenanceStatus = GetStausID;
                $.ajax({
                    url: '/Maintenances/CancelByAjax',//地址
                    dataType: 'json',//返回数据类型
                    type: 'POST',//类型
                    data: Datajson ,
                    //请求成功
                    success: function () {
                        alert("作废数据成功！");
                        window.location.href = "/Maintenances/Index/";
                    }
                })

            } return;
        }
       alert("需要先选择要作废的数据！")
    
    }

    

    //查询
    function Search() {
        //得到用户输入的参数，取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
        //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
        var queryData = {
            Name: $("#Name").val()
        }
        //将值传递给
        InitGrid(queryData);
        return false;
    }

    //初始化查询数据
    function InitGrid(queryData) {
        $("#dg").datagrid({
            title: '运维申请清单信息列表',
            url: '/Maintenances/GetMaintenanceList',
            queryParams: queryData,
            columns: [[
                 { field: 'ID', title: '运维单号', width: 150, align: 'center' },
                 { field: 'Applier', title: '申请人', width: 150, align: 'center' }, 
                 { field: 'Region', title: '区域（申请人所在）', width: 150, align: 'center',formatter: getstatusnobyid },
                 { field: 'Type', title: '问题类型', width: 100, align: 'center', formatter: getstatusnobyid },
                 { field: 'Name', title: '问题名称', width: 150, align: 'center' },
                 { field: 'FileName', title: '上传文件名称', width: 150, formatter: function (value, row, index) {
                        if (value) {
                            var html = "<a target='_blank'  >" + value + "</a>";
                            return html;
                        }
                    }, align: 'center' },
                 { field: 'Description', title: '问题描述', width: 150, align: 'center' },
                 { field: 'MaintenanceStatus', title: '运维状态', width: 150, align: 'center',formatter: getstatusnobyid   },
                 { field: 'StatusName', title: '状态', width: 60, align: 'center' },
                 { field: 'CreateDate', title: '创建时间', width: 150, formatter: gettime, align: 'center' },
                 { field: 'CreatePerson', title: '创建人', width: 100, align: 'center' },
                 { field: 'UpdateDate', title: '修改时间', width: 100, formatter: getdate, align: 'center' },
                 { field: 'UpdatePerson', title: '修改人', width: 100, align: 'center' },
                 { field: 'Summary', title: '备注', width: 100, align: 'center' }
            ]],
            toolbar: '#dg-button',
            singleSelect: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            method: 'get',
            onClickRow: function (rowIndex, rowData) {
                openNewWindow("@Url.Action("Details", "Maintenances", new { area=""})/" + rowData.ID,"newwindow",800,500);
            }
        });
    }

    
</script>


