@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>欢迎使用昆山宏宇货运IT管理系统</h1>
    <p class="lead">IT管理系统主要有系统管理、业务设置、运维管理、需求管理以及报表管理功能模块组成.</p>
    <p>
        <h5>
            系统管理：主要有用户管理、角色管理、权限管理相关功能.
        </h5>
    </p>
    <p>
        <h5>
            业务设置：主要有联系人管理、IT角色管理相关功能.
        </h5>
    </p>
    <p>
        <h5>
            运维管理：主要运维申请、运维评估、运维处理、运维结果等相关功能.
        </h5>
    </p>
    <p>
        <h5>
            需求处理：主要需求申请、需求评估报价、需求处理、需求bug日志等相关功能.
        </h5>
    </p>
    <p>
        <h5>
            报表管理：主要用于综合查询类信息查询，运维查询、需求查询、消息查询.
        </h5>
    </p>
</div>