@model IEnumerable<GyIMS.Models.RequestFormTask>

@{
    ViewBag.Title = "需求任务信息";
}

@*界面主体*@
<div>

    <div id="dg-search" margin="0,30,0,30">
        <label for="RequestFormName">需求名称：</label>
        <input id="RequestFormName" class="easyui-validatebox" data-options="width:200" />
    </div>

    <table id="dg"></table>

    <div id="dg-button">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="Reload()">刷新</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-man' " onclick="Edit()">指派</a>
        @*<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-blank'" onclick="Export()">导出</a>*@

    </div>

</div>

@*脚本*@
<script>

    $(function () {
        $("#dg").datagrid({
            title: '需求任务信息列表',
            url: '/RequestFormTasks/GetRequestFormTaskList',
            queryParams: "",
            columns: [[
                { field: 'RequestFormID', title: '需求申请单号', width: 150, align: 'center' },
                { field: 'Assigner', title: '任务指派人', width: 150, align: 'center' },
                { field: 'ItRoleName', title: 'IT角色', width: 150, align: 'center' },
                { field: 'Handler', title: '处理人', width: 150, align: 'center' },
                { field: 'PercentOfRequest', title: '需求占比', width: 150, align: 'center' },
                { field: 'Description', title: '任务描述', width: 150, align: 'center' },
                { field: 'FileName', title: '上传文件名称', width: 150, align: 'center' },
                { field: 'TaskStatus', title: '任务状态', width: 150, align: 'center' },
                { field: 'StatusName', title: '状态', width: 60, align: 'center' },
                { field: 'CreateDate', title: '创建时间', width: 100, formatter: getdate, align: 'center' },
                { field: 'CreatePerson', title: '创建人', width: 100, align: 'center' },
                { field: 'UpdateDate', title: '修改时间', width: 100, formatter: getdate, align: 'center' },
                { field: 'UpdatePerson', title: '修改人', width: 100, align: 'center' },
                { field: 'Summary', title: '备注', width: 100, align: 'center' }
            ]],
            toolbar: '#dg-button',
            singleSelect: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            method: 'get'
        });
    })

    //刷新
    function Reload() {
        $('#RequestFormName').val("");
        InitGrid("");
    }

    //修改
    function Edit() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            alert("需要先选择要修改的数据！")
        }
        else {
            window.location.href = "/RequestFormTasks/Edit/" + row.ID;
        }

    };

    //删除
    function Delete() {
        var row = $('#dg').datagrid('getSelected');
        if (row == null) {
            alert("需要先选择要删除的数据！")
        }
        else {
            if (confirm("你确定要删除该需求任务信息吗？")) {
                $.ajax({
                    url: '/RequestFormTasks/DeleteByAjax',//地址
                    dataType: 'text',//返回数据类型
                    type: 'POST',//类型
                    data: { id: row.ID },
                    //请求成功
                    success: function () {
                        alert("删除数据成功！");
                        window.location.href = "/RequestFormTasks/Index/";
                    }
                })
            }

        }
    }

    

    //查询
    function Search() {
        //得到用户输入的参数，取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
        //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
        var queryData = {
            RequestFormName: $("#RequestFormName").val()
        }
        //将值传递给
        InitGrid(queryData);
        return false;
    }

    //初始化查询数据
    function InitGrid(queryData) {
        $("#dg").datagrid({
            title: '需求任务信息列表',
            url: '/RequestFormTasks/GetRequestFormTaskList',
            queryParams: queryData,
            columns: [[
                { field: 'RequestFormID', title: '需求申请单号', width: 150, align: 'center' },
                { field: 'Assigner', title: '任务指派人', width: 150, align: 'center' },
                { field: 'ItRoleName', title: 'IT角色', width: 150, align: 'center' },
                { field: 'Handler', title: '处理人', width: 150, align: 'center' },
                { field: 'PercentOfRequest', title: '需求占比', width: 150, align: 'center' },
                { field: 'Description', title: '任务描述', width: 150, align: 'center' },
                { field: 'FileName', title: '上传文件名称', width: 150, align: 'center' },
                { field: 'TaskStatus', title: '任务状态', width: 150, align: 'center', formatter: getstatusnobyid },
                { field: 'StatusName', title: '状态', width: 60, align: 'center' },
                { field: 'CreateDate', title: '创建时间', width: 100, formatter: getdate, align: 'center' },
                { field: 'CreatePerson', title: '创建人', width: 100, align: 'center' },
                { field: 'UpdateDate', title: '修改时间', width: 100, formatter: getdate, align: 'center' },
                { field: 'UpdatePerson', title: '修改人', width: 100, align: 'center' },
                { field: 'Summary', title: '备注', width: 100, align: 'center' }
            ]],
            toolbar: '#dg-button',
            singleSelect: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30],
            method: 'get'
        });
    }




</script>


